<template>
    <panel-item :field="field">
        <template slot="value">
            <p v-if="!field.value">––</p>
            <img v-else-if="isImage" class="align-bottom rounded w-40 h-40" style="object-fit: cover;" :src="field.value">
            <a v-else :href="field.value" target="_blank">View File</a>
        </template>
    </panel-item>
</template>

<script>
export default {
    props: ['resource', 'resourceName', 'resourceId', 'field'],
    computed: {
        isImage() {
            const { value } = this.field
            if (!value) return false
            const ext = value.replace(/.*\.([0-9a-z]+)$/gmi, '$1').toLowerCase()
            return ['jpeg','jpg','webp','svg','png'].indexOf(ext) > -1
        }
    }
}
</script>
