<template>
    <default-field :field="field" :errors="errors">
        <template slot="field">
            <div>
                <div v-if="value && field.type === 'image'">
                    <svg @click.prevent="zoom = !zoom" class="zoomer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12zM7 7V5h2v2h2v2H9v2H7V9H5V7h2z"/></svg>
                    <img
                        :id="field.name"
                        :name="field.name"
                        :src="value"
                        class="block w-full card rounded cursor-pointer hoverableImage"
                        :class="{zoom}"
                        :title="zoom ? 'Zoom out' : 'Change Image'"
                        @click.prevent="zoom ? zoom = false : openFileManager()"
                    />
                    <div class="img-placeholder"></div>
                </div>
                <div v-else>
                    <div v-if="value">
                        <img
                            v-if="isImage"
                            :src="value"
                            class="block w-full card rounded"
                        />
                        <input
                            :id="field.name"
                            type="text"
                            class="w-full form-control form-input form-input-bordered"
                            :class="errorClasses"
                            :placeholder="field.name"
                            v-model="value"
                        />
                    </div>
                    <button v-else
                        @click.prevent="openFileManager"
                        class="m-4 form-file-btn btn btn-default btn-primary select-none">Select</button>
                </div>
            </div>
        </template>
    </default-field>
</template>

<script>
import { FormField, HandlesValidationErrors } from 'laravel-nova'

export default {
    mixins: [FormField, HandlesValidationErrors],
    props: ['resourceName', 'resourceId', 'field'],
    data() {
        return {
            zoom: false
        }
    },
    computed: {
        isImage() {
            const ext = this.value.replace(/.*\.([0-9a-z]+)$/gmi, '$1').toLowerCase()
            return ['jpeg','jpg','webp','svg','png'].indexOf(ext) > -1
        }
    },
    methods: {
        openFileManager() {
            window.open(`/filemanager?type=${this.field.type || 'file'}`, 'FileManager', 'width=900,height=600');
            window.SetUrl = (items) => {
                if (!items || !items.length) return false
                let path = []
                items.forEach(file => {
                    path.push(file.url)
                })
                this.$emit('input', this.value = path.join(','))
            };
        },
        /*
         * Set the initial, internal value for the field.
         */
        setInitialValue() {
            this.value = this.field.value || ''
        },

        /**
         * Fill the given FormData object with the field's internal value.
         */
        fill(formData) {
            formData.append(this.field.attribute, this.value || '')
        },

        /**
         * Update the field's internal value.
         */
        handleChange(value) {
            this.value = value
        }
    },
}
</script>

<style lang="scss">
.hoverableImage {
    height: 200px;
    min-width: 200px;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
    background: #e4e4e4;

    &.zoom {
        transition: .4s;
        position: absolute;
        width: 100%;
        left: 0;
        top: -100px;
        height: 600px;
        background: rgba(255,255,255,0.8);

        +.img-placeholder {
            display: block;
            height: 200px;
            width: 200px;
        }
    }
}

.zoomer {
    float: left;
    width: 1rem;
    margin: 0.5rem;
    background: var(--primary-dark);
    fill: #fff;
    box-shadow: 0 0 0 4px var(--primary-dark);
    cursor: pointer;
}
</style>
