<template>
    <p v-if="!field.value">––</p>
    <img v-else-if="isImage" :alt="isImage" @error="failed = true" class="align-bottom rounded w-12 h-12" style="object-fit: cover;" :src="isImage">
    <a v-else :href="field.value" target="_blank">View File</a>
</template>

<script>
export default {
    props: ['resourceName', 'field'],
    data() {
        return { failed: false }
    },
    computed: {
        isImage() {
            const { value } = this.field
            if (!value) return false
            const ext = value.replace(/.*\.([0-9a-z]+)$/gmi, '$1').toLowerCase()
            if (['jpeg','jpg','webp','svg','png'].indexOf(ext) > -1) {
                if (this.failed) return value
                const path = value.split('/');
                const filename = path.pop()
                return `${path.join('/')}/thumbs/${filename}`
            }
        }
    }
}
</script>
